.like {
  position: absolute;
  bottom: 5%;
  left: 50%;
  margin-left: -62.5px;
  width: 125px;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 3;
}

.like-button {
  background: rgba(153, 153, 153, 0.2);
  backdrop-filter: blur(2px);
  width: 72px;
  height: 72px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 13px;
}
.like-button:hover {
  background: rgba(243, 106, 29, 0.1);
}
.like-button:hover svg {
  fill: #F7AA7F;
}
.like-button:active {
  background: transparent;
}
.like-button:active svg {
  fill: #F36A1D;
}
.like-button:active:hover {
  background: rgba(243, 106, 29, 0.1);
}
.like-button:disabled {
  background: rgba(153, 153, 153, 0.2);
  opacity: 0.3;
  user-select: none;
  pointer-events: none;
}
.like-button svg {
  fill: #727272;
}
.like-button svg:active {
  fill: #F36A1D;
}

.like-counter {
  text-align: center;
  display: flex;
}

.like-counter__text {
  font-family: "NoirPro-BoldItalic";
  font-size: 32px;
  line-height: 38px;
  letter-spacing: -0.05em;
  color: #727272;
}
@media (max-width: 600px) {
  .like-counter__text {
    font-size: 20px;
    line-height: 23px;
  }
}

.like-counter__number {
  font-family: "NoirPro-BoldItalic";
  font-size: 32px;
  line-height: 38px;
  letter-spacing: -0.05em;
  color: #F36A1D;
}
@media (max-width: 600px) {
  .like-counter__number {
    font-size: 20px;
    line-height: 23px;
  }
}

.social-link {
  position: absolute;
  bottom: 40px;
  right: 64px;
  z-index: 4;
}
@media (max-width: 600px) {
  .social-link {
    right: 11px;
  }
}

.social__items {
  display: flex;
}
@media (max-width: 600px) {
  .social__items {
    flex-direction: column;
  }
}

.social__item {
  width: 44px;
  height: 44px;
  margin-right: 15px;
}
.social__item:last-child {
  margin-right: 0;
}
@media (max-width: 600px) {
  .social__item {
    margin-right: 0;
    margin-bottom: 20px;
  }
  .social__item:last-child {
    margin-bottom: 0;
  }
}

.social__link {
  width: 44px;
  height: 44px;
  display: flex;
  justify-content: center;
  align-items: center;
  fill: #727272;
}
.social__link:hover {
  fill: #F36A1D;
}

.modal {
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.3);
  justify-content: center;
  align-items: center;
  z-index: 99;
}
.modal.show {
  display: flex;
}
@media (max-width: 543px) {
  .modal {
    align-items: flex-end;
  }
}

.modal-window {
  position: relative;
  background: #393939;
  width: 543px;
  height: 470px;
  padding: 32px;
  animation-name: slow;
  animation-duration: 0.8s;
}

@keyframes slow {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(0%);
  }
}
.modal-close {
  position: absolute;
  top: 32px;
  right: 32px;
  display: block;
  width: 26px;
  height: 26px;
  cursor: pointer;
}
.modal-close::before {
  content: "";
  position: absolute;
  top: 12px;
  left: -5px;
  display: block;
  width: 35px;
  height: 2px;
  background: #F36A1D;
  transform: rotate(-45deg);
}
.modal-close::after {
  content: "";
  position: absolute;
  top: 12px;
  left: -5px;
  display: block;
  width: 35px;
  height: 2px;
  background: #F36A1D;
  transform: rotate(45deg);
}

.modal__title {
  font-size: 32px;
  letter-spacing: -0.05em;
  color: #727272;
  margin-bottom: 20px;
}

.modal__subtitle {
  font-size: 20px;
  line-height: 132.7%;
  letter-spacing: -0.05em;
  color: #727272;
  margin-bottom: 30px;
}

.modal__text {
  font-family: "NoirPro-Light";
  font-size: 20px;
  line-height: 132.7%;
  letter-spacing: -0.05em;
  color: #FFFFFF;
}

* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

@font-face {
  font-family: "NoirPro-BoldItalic";
  src: url("NoirPro-BoldItalic.f30db973.woff2") format("woff2"), url("NoirPro-BoldItalic.a12c5fd6.woff") format("woff");
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "NoirPro-Light";
  src: url("NoirPro-Light.58f1eda6.woff2") format("woff2"), url("NoirPro-Light.d380cb72.woff") format("woff");
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}
.general {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: #CFCFCF;
}

.container {
  padding-left: 64px;
  padding-right: 64px;
}
@media (max-width: 600px) {
  .container {
    padding-left: 16px;
    padding-right: 16px;
  }
}

.general__header {
  height: 187px;
  display: flex;
}
@media (max-width: 600px) {
  .general__header {
    height: 97px;
  }
}

.general__header-name {
  display: flex;
  align-items: center;
  font-family: "NoirPro-BoldItalic";
  font-size: 132px;
  letter-spacing: -0.05em;
  text-transform: uppercase;
  color: #393939;
}
@media (max-width: 600px) {
  .general__header-name {
    font-size: 32px;
    line-height: 38px;
    letter-spacing: -0.05em;
    text-transform: uppercase;
    color: #393939;
  }
}

.general__title {
  display: flex;
  justify-content: center;
  font-size: 132px;
  letter-spacing: -0.05em;
  text-transform: uppercase;
  color: #BEBEBE;
}
@media (max-width: 600px) {
  .general__title {
    font-size: 100px;
  }
}

.general__img {
  display: flex;
  justify-content: center;
  margin-top: 80px;
}
@media (max-width: 600px) {
  .general__img {
    margin-top: 20px;
  }
}

.general_breadcrumbs {
  font-family: "NoirPro-Light";
  font-size: 20px;
  line-height: 132.7%;
  letter-spacing: -0.05em;
  text-transform: uppercase;
  margin-top: 37px;
}
@media (max-width: 600px) {
  .general_breadcrumbs {
    margin-top: 20px;
  }
}

.swiper {
  width: 100%;
  height: 100vh;
}
.swiper::before {
  content: "";
  display: block;
  width: 95%;
  height: 187px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  background-image: url("bmw-logo.bb116018.png");
  background-position: 100% 53px;
  background-size: 60px;
  background-repeat: no-repeat;
  border: 2px solid;
  border-image-slice: 0 0 1 0;
  border-image-source: linear-gradient(90deg, rgba(243, 106, 29, 0) 0%, #F36A1D 48.23%, rgba(243, 106, 29, 0) 99.27%);
}
@media (max-width: 600px) {
  .swiper::before {
    height: 97px;
    background-position: 100% 17px;
  }
}
.swiper::after {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: radial-gradient(20.46% 33.99% at 0% 0%, #FF9254 0%, rgba(251, 188, 129, 0) 100%);
  z-index: 1;
}
@media (max-width: 600px) {
  .swiper::after {
    background: radial-gradient(49.87% 29.45% at 0% 0%, #FF9254 0%, rgba(251, 188, 129, 0) 100%);
  }
}

.swiper-button-prev {
  color: #727272;
  left: 64px;
}
@media (max-width: 600px) {
  .swiper-button-prev {
    left: 16px;
  }
}
.swiper-button-prev::before {
  content: "";
  width: 150px;
  position: absolute;
  top: 21px;
  left: 5px;
  height: 2px;
  transform: matrix(-1, 0, 0, 1, 0, 0);
  background: linear-gradient(90deg, rgba(153, 153, 153, 0) 0%, #727272 100%);
}
@media (max-width: 600px) {
  .swiper-button-prev::before {
    width: 58px;
  }
}
.swiper-button-prev:hover {
  color: #F36A1D;
}
.swiper-button-prev:hover::before {
  background: linear-gradient(90deg, rgba(153, 153, 153, 0) 0%, #F36A1D 100%);
}
@media (max-width: 600px) {
  .swiper-button-prev:hover::before {
    background: linear-gradient(90deg, rgba(243, 106, 29, 0) 0%, #F36A1D 100%);
  }
}

.swiper-button-next {
  color: #727272;
  right: 64px;
}
@media (max-width: 600px) {
  .swiper-button-next {
    right: 16px;
  }
}
.swiper-button-next::before {
  content: "";
  width: 150px;
  position: absolute;
  top: 21px;
  right: 5px;
  height: 2px;
  background: linear-gradient(90deg, rgba(153, 153, 153, 0) 0%, #727272 100%);
}
@media (max-width: 600px) {
  .swiper-button-next::before {
    width: 58px;
  }
}
.swiper-button-next:hover::before {
  background: linear-gradient(90deg, rgba(153, 153, 153, 0) 0%, #F36A1D 100%);
}
@media (max-width: 600px) {
  .swiper-button-next:hover::before {
    background: linear-gradient(90deg, rgba(243, 106, 29, 0) 0%, #F36A1D 100%);
  }
}
.swiper-button-next:hover {
  color: #F36A1D;
}

.swiper-slide__img {
  user-select: none;
}

@media (max-width: 600px) {
  .swiper-slide img {
    object-position: 25%;
  }
}

body {
  font-family: "NoirPro-BoldItalic";
}

body.scroll-blocked {
  overflow: hidden;
}

img {
  width: 100%;
  height: 100vh;
  object-fit: cover;
}

/*# sourceMappingURL=/main.1f19ae8e.css.map */
