.swiper
    .swiper-wrapper
        .swiper-slide 
            .swiper-slide__img-first: img
        .swiper-slide
            .swiper-slide__img-second: img
        .swiper-slide
            .swiper-slide__img-third: img
    .swiper-button-prev
    .swiper-button-next