.modal 
    .modal-window
        .modal-close
        .modal__title BMW i8
        .modal__subtitle Тут должно быть спасибо. Но это тестовое. Так что читайте про BMW
        .modal__text Тут должен быть слайд. Но его нет. Вероятно у вас не включен VPN и данные не подгружаются с сервера.