.modal {
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    background-color: rgba(#000, 0.3);
    justify-content: center;
    align-items: center;
    z-index: 99;
    &.show {
        display: flex;
    }
}
.modal-window {
    position: relative;
    background: #393939;
    width: 543px;
    height: 470px;
    padding: 32px;
    animation-name: slow;
    animation-duration: 0.8s;
}
@keyframes slow {
    0% {transform: translateY(100%)};
    100% {transform: translateY(0%)};
}
.modal-close {
    position: absolute;
    top: 32px;
    right: 32px;
    display: block;
    width: 26px;
    height: 26px;
    cursor: pointer;
    &::before {
        content: '';
        position: absolute;
        top: 12px;
        left: -5px;
        display: block;
        width:35px; 
        height: 2px;
        background: #F36A1D;
        transform: rotate(-45deg);
    }
    &::after {
        content: '';
        position: absolute;
        top: 12px;
        left: -5px;
        display: block;
        width:35px; 
        height: 2px;
        background: #F36A1D;
        transform: rotate(45deg);
    }
}
.modal__title {
    font-size: 32px;
    letter-spacing: -0.05em;
    color: #727272;
    margin-bottom: 20px;
}
.modal__subtitle {
    font-size: 20px;
    line-height: 132.7%;
    letter-spacing: -0.05em;
    color: #727272;
    margin-bottom: 30px;
}
.modal__text {
    font-family: 'NoirPro-Light';
    font-size: 20px;
    line-height: 132.7%;
    letter-spacing: -0.05em;
    color: #FFFFFF;
}
