.modal 
    .modal-window
        .modal-close
        .modal__title BMW i8
        .modal__subtitle Тут должно быть спасибо. Но это тестовое. Так что читайте про BMW
        .modal__text Слайды тут работают только с VPN и то если вы хорошо покликаете вправо :D <br> А еще это должно быть написано тонким шрифтом...