.modal 
    .modal-window
        .modal-close
        .modal__title BMW i8
        .modal__subtitle Тут должно быть спасибо. Но это тестовое. Так что читайте про BMW
        .modal__text 
            p Тут должен быть слайд. Но его нет. Так что попробуйте покликать хорошенько вправо, допустим раз 7-8.
            <br>
            p Не получилось? Вероятно у вас не включен VPN и данные не подгружаются с сервера