doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title BMW i8
        link(rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.css")
    body
        include /components/general/general.pug
        include /components/like-button/like-button.pug
        include /components/social-link/social-link.pug
        include /components/swiper/swiper.pug
        include /components/modal/modal.pug
        script(src="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.js")
        script(src='main.js')