@import "./src/components/like-button/like-button.scss";
@import "./src/components/social-link/social-link.scss";
@import "./src/components/modal/modal.scss";
@import "./src/styles/nullstyle.scss";
@import "./src/styles/fonts.scss";
@import "./src/components/general/general.scss";
@import "./src/components/swiper/swiper.scss";
body {
    font-family: 'NoirPro-BoldItalic';
}
body.scroll-blocked {
    overflow: hidden;
}
img {
    width: 100%;
    height: 100vh;
    object-fit: cover;
}
